/* Reset default browser styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: "Open Sans", Arial, sans-serif;
    background-color: #050a31;
    color: #FFFFFF;
    line-height: 1.5;
}

header {
    text-align: center;
    padding: 50px 0;
}


.horizontal-line {
    width: 75%;
    background: white;
}

.container {
/*    max-width: 700px;*/
    width: 50%;
    margin: 0 auto 40px auto;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.back-link {
    position: absolute;
    left: 20px;
    color: #FFFFFF;
    text-decoration: none;
    font-size:20px;
}


.about-container {
    /*    max-width: 700px; */
    background-image: url('https://localhost:44337/Images/background.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 50%;
    margin: 0 auto 40px auto;
    padding: 20px;
    text-align: justify;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {

    font-size: 23px;
    margin-bottom: 30px;
}


.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 0 40px 0;
}


.image-container img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 1px solid;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #cccccc52;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 4px;
}



.main-container {
    display: flex;
    height: 100%;
}


h2 {
    font-size: 40px;
    margin-bottom: 10px;
    font-family: serif;
    color: #E19D20;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
}


﻿.footerlinks {
    color: #FFFFFF;
    font-family: "Open Sans", Arial, sans-serif;
    text-decoration: none !important;
}

.footerlinks:hover {
    color: #FFFFFF;
}

.footer-container {
    position: relative;
    height: 10rem;
    width: 100%;
    text-align: center;
}

.foot-text {
    color: #FFFFFF;
    font-family: "Open Sans", Arial, sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap {
    flex: 1;
}

.footer {
    margin-top: auto;
    height: auto;
    background-color: #cccccc52;
    text-align: center;
    align-items: center;
    padding: 15px;
}
